
@{
    ViewData["Title"] = "RecipeSearchView";
}

@model API_Capstone.Models.ViewModels.RecipeSearchViewModel




<ul>
    @foreach (var recipe in Model.Recipes)
    {
    <li> <a href="@recipe.Href">@recipe.title </a></li>
    }

</ul>

@if (Model.currentPageNumber < 100)
{
    <form asp-controller="Recipe" asp-action="Index" asp-route-pagenumber="@Model.nextPageNumber" method="post">

        <button>Next Page of Results</button>

    </form>
}
    @if (Model.currentPageNumber > 1)
    {
        <form asp-controller="Recipe" asp-action="Index" asp-route-pagenumber="@Model.previousPageNumber" method="post">


            <button>Last Page of Results</button>

        </form>
    }

